ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  li {
    padding: 0 .5rem 0 .5rem;
    margin: 0 .5rem 0 .5rem;
    line-height: 1.5em;
    position: relative;
    &:after {
      content: '';
      opacity: 1;
      visibility: visible;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid black;
    }
  }
  span {
    visibility: visible;
    opacity: 0;
    transition: opacity .5s ease-in;
  }
}

.alphabet_container {
  max-width: 550px;
  @media (min-width: 768px) {
    text-align: center;
  }
  .letterBtn {
    font-size: 1.5em;
    @media (min-width: 768px) {
      font-size: 2.5em;
    }
  }
}

// Hangman Noose
  .hangman {
    &_base {
      width: 100px;
      height: 50px;
      border: 6px solid black;
    }
    &_post {
      border-left: 6px solid black;
      height: 300px;
    }
    &_triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 50px solid black;
      border-right: 50px solid transparent;
    }
    &_top-line {
      position: relative;
      border-top: 6px solid black;
      width: 200px;
      border-right: 6px solid black;
      height: 20px;
      margin-bottom: -20px
    }
    &_noose {
      position: absolute;
      display: block;
      width: 64px;
      height: 100px;
      border: 4px dotted black;
      background-color: transparent;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      top: 15px;
      right: -35px;
    }
    &_body {
      top: 37px;
      position: absolute;
      &--head {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 2px solid black;
        .eyes {
          margin-top: 12px;
          display: flex;
          justify-content: space-evenly;
          .eyes_left {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            border: 4px solid black;
          }
          .eyes_right {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            border: 4px solid black;
          }
        }
        .nose {
          position: relative;
          width: 12px;
          height: 12px;
          border-right: 1px solid black;
          transform: skewX(25deg);
          margin: auto;
          margin-right: 23px;
          .inner {
            width: 5px;
            border-bottom: 1px solid black;
            position: absolute;
            bottom: 0;
            left: 6px;
          }
        }
        .mouth {
          margin: auto;
          width: 40px; height:100px;  
          margin-top: 5px;
          border:solid 1px #000;
          border-color:#000 transparent transparent transparent;
          border-radius: 50%/110px 110px 5px 0px;
        }
      }
    &--torso {
      border-right: 3px solid black;
      height: 80px;
      margin: auto;
      width: 0px;
      .arm_left {
        border-top: 3px solid black;
        transform: skewY(-50deg);
        width: 40px;
        top: 80px;
        position: absolute;
        margin-left: -40px;
      }
      .arm_right {
        border-top: 3px solid black;
        transform: skewY(50deg);
        width: 40px;
        top: 80px;
        position: absolute;
        margin-left: 2px;
      }
    }
    &--legs {
      border-right: 3px solid black;
      height: 0px;
      margin: auto;
      width: 0px;
      .legs_left {
        border-top: 5px solid black;
        -webkit-transform: skewY(-50deg);
        transform: skewY(-70deg);
        width: 30px;
        bottom: -42px;
        position: absolute;
        margin-left: -29px;
      }
      .legs_right {
        border-top: 5px solid black;
        -webkit-transform: skewY(-50deg);
        transform: skewY(70deg);
        width: 30px;
        bottom: -42px;
        position: absolute;
        margin-left: 2px;
      }
    }
  }
}
